header img {
    width: 100px;
  }
  #myimg {
    border-radius: 50%;
    position: absolute;
      top: 900px;
      left:44%;
      width: 200px;
      height: 200px;
     
  }
  
  header{
    position:fixed;
    top:1px;
    background-color: rgb(218, 246, 248);
    width: 100%;
    height: 100px;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul li {
    display: inline-block;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    font-weight: bold;
    border: 3px solid #32527B;
    padding: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  main{
    background-image: linear-gradient(#f8f9fa,  #6683B0);
    margin-top: 100px;

  }
 main section:nth-child(1) img:nth-child(1) {
    width: 100%;
    height: 150px;
  }

  
  h1 {
    font-size: 50px;
    font-weight: 700;
    color: #32527B;
    text-align: center;
    
  }

  h3{
      font-size: 26px;
      text-align: center;
      font-weight: bold;
      margin-top: 200px;
      margin-bottom: 20px;
      
  }
  

div{
  font-size: 18px;
  padding: 10px;
  margin:auto;
  text-align: center;
  font-weight: bold;
  line-height: 2;
  
}
ol{
  list-style-type:decimal;
  border: 1px;
 
	font-size: 100%;
  display:list-item;
  text-align: left;
  margin-left: 60px;
  font-family:Tahoma;
  line-height: 2;
}

ul{
  list-style:circle;
  border: 1px;
 
	font-size: 100%;
  display:list-item;
  text-align: left;
  margin-left: 60px;
  font-family:Tahoma;
  line-height: 2;
}
.listp{
  text-align: left;
  margin-left: 40px;
  font-size: 20px;
  color: #263953;
}


footer{
    background-color: rgb(145, 145, 145);
    color: rgb(24, 23, 23);
    text-align: center;
    line-height: 60px;
}
